.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1.75rem 1.5rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-links a {
  margin-left: 1.5rem;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.navbar-links a:hover {
  text-decoration: underline;
}
